body {
    background-image: url(./ram.jpg!bw700); 
    width: 600px;
    height: 700px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }

  header{
    background-color: rgb(210, 30, 189);
    color: black;
    text-align: center;
    padding-left: 1rem;
    width: 1000px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .footer a:hover {
    color: yellow;
  }
  h1 {
    
    width: 200px;
    height: 100px;
    
    padding: 0;
  }
  
  h1 img {
    width: 100%;
    height: 100%;
    
    border: none;
  }
  .text{
    align-items: first baseline;
  }
  
.contact-details {
  text-align: below;
  padding: 200px;
  background-color: #444;
  color: white;
}

.contact-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}



  
